.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: calc(100vh - 40px);
  scroll-snap-align: start;

  & .aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;

    & .aboutTitle {
      font-size: 2.5rem;
      margin: 0;
      position: absolute;
      bottom: 0px;
      left: 2rem;
      transform: rotate(-90deg);
      transform-origin: left bottom;
      white-space: nowrap;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  max-width: 800px;
}

.profilePhoto {
  display: flex;
  justify-content: flex-start;
  padding: 10px;

  & img {
    height: 128px;
    width: 128px;
    aspect-ratio: auto 128 / 128;
    border-radius: 100%;
    box-shadow:
      0 0 10px #c3a14a,
      0 0 20px #c3a14a,
      0 0 30px #c3a14a;
  }
}
