.experienceSection {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: start;

  & .experienceContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */

    & .title {
      font-size: 2.5rem;
      margin: 0;
      position: absolute;
      bottom: 20px;
      left: 3rem;
      transform: rotate(-90deg);
      transform-origin: left bottom;
      white-space: nowrap;
    }
  }

  & .experienceContainerList {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    height: calc(100vh - 6rem);
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
