.homeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  height: 100vh;
  scroll-snap-align: start;

  & .homeContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;

    & .homeTitle {
      font-size: 2.5rem;
      margin: 0;
      position: absolute;
      bottom: 1rem;
      left: 3rem;
      transform: rotate(-90deg);
      transform-origin: left bottom;
      white-space: nowrap;
    }
  }
}
