@font-face {
  font-family: "MonaSpaceNeon";
  src: url("/fonts/Monaspace-Neon/MonaspaceNeonNF-Regular.woff2");
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
}

#root {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

* {
  font-family: "MonaSpaceNeon", monospace;
  color: #f5f5f5;
}

/* Custom Scroll Bar */

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}
